<% if question.errors.any? %>
  <div class="mt">
    <% question.errors.full_messages.each do |message| %>
      <p class="mb-sm text-red"><%= message %></p>
    <% end %>
  </div>
<% end %>

<div class="mb-sm <%= hidden_question(question) %>">
  <%= simple_format h(question.body) %>
</div>

<% if question.answer.present? %>
  <div class="mb-sm text-dark-red">
    <%= question.answer %>
  </div>
<% end %>

<div class="text-sm question-footer">
  <div class="text-grey">
    <% if question.author_id.present? %>
      <p>Вопрос от: <%= link_to display_nickname(question.author), user_path(question.author),
                                class: 'text-dark-red' %></p>
    <% else %>
      <p>Вопрос от: Anonymous</p>
    <% end %>

    <%= l(question.created_at, format: :short) %>
  </div>

  <% if current_user == question.user %>
    <div>
      <% edit_icon = (question.answer.present? ? 'pencil' : 'reply') %>
      <%= link_to fa_icon(edit_icon), edit_question_path(question), title: 'Изменить вопрос', class: "mr-sm" %>
      <%= button_to fa_icon('trash-o'), question_path(question), method: :delete,
                    form: { data: { turbo_confirm: "Are you sure?" } }, title: 'Удалить вопрос', class: "mr-sm" %>
      <% unless question.hidden? %>
        <%= button_to fa_icon('eye-slash'), hide_question_path(question), method: :patch, title: 'Скрыть вопрос' %>
      <% else %>
        <%= button_to fa_icon('eye'), hide_question_path(question), method: :patch, title: 'Отобразить вопрос' %>
      <% end %>
    </div>
  <% end %>
</div>
