<div class="user-box mb-sm">
  <h2 class="title-lg mt-lg"><%= @user.name %></h2>

  <% if current_user == @user %>
    <p class="mt mb">
      <%= link_to fa_icon('pencil'), edit_user_path(@user), title: 'Редактировать пофиль' %>
    </p>
  <% end %>

  <p class="text-bold mb-lg"><%= display_nickname(@user) %></p>
</div>

<% if @questions.present? %>     <!--if @questions.any?-->
<div class="container">
  <%= link_to 'Спроси меня', new_question_path(user_id: @user.id), class: "button button-yellow" %>

  <p class="mt">
    <%= render 'questions/form', question: @question %>
  </p>
</div>

<div class="container mt-sm">
  <h2 class="title-lg">
    <%= @questions.count %>
    <%= inclination(@questions.count, 'вопрос', 'вопроса', 'вопросов') %>
  </h2>
</div>

<% @questions.each do |question| %>
  <div class="mt-sm container">
    <%= render question %>
  </div>
<% end %>
<% else %>
  <%= render 'empty_state' %>    <!--render partial: 'empty_state', locals: {user: @user}-->
<% end %>
